/*  */

/* FONTS */
@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style:normal;
    font-weight: 600;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}

